{% extends "layout.html"%}
{% block content %}
			
			<main>
				<div id="slide-wrap">
					<section id="inicio">
						<img src="/static/img/foto6.jpg" alt="foto1">
					</section>
				  </div>
				</section>
				
				<section id="servicios" class="seccion">
					<div class="container">
						<div class="row">
							<div class="columna columna-33 columna-mobile-100">
								<div class="bloque-servicio">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/laboratorios.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>Hematología</h3>
										<p>
											Recuento, análisis y diagnósitco de los componentes de la sangre como son los glóbulos rojos o hematíes, glóbulos blancos o leucocitos y plaquetas.
										</p>
										
									</div>
								</div>
							</div>
							<div class="columna columna-33 columna-mobile-100">
										<div class="bloque-servicio ">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/foto4.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>Coagulación</h3>
										<p>
											Evaluación temporal de la contracción de una cortada de los vasos sanguíneos y el tiempo que las plaquetas demoran en sellar el orificio generado.
										</p>
										
									</div>
								</div>
							</div>
							<div class="columna columna-33 columna-mobile-100">
										<div class="bloque-servicio">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/foto3.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>Bioquímica</h3>
										<p>
											Medición de los niveles de varias sustancias en la sangre (por ejemplo, electrolitos) e informa al médico sobre su estado de salud general
										</p>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="servicios" class="seccion">
					<div class="container">
						<div class="row">
							<div class="columna columna-33 columna-mobile-100">
								<div class="bloque-servicio">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/laboratorios.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>Hormonas</h3>
										<p>
											El análisis hormonal, mide los niveles de ciertas hormonas en sangre dependiendo de las necesidades del médico y el paciente.
										</p>
										
									</div>
								</div>
							</div>
							<div class="columna columna-33 columna-mobile-100">
										<div class="bloque-servicio ">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/foto4.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>Inmunología</h3>
										<p>
											Medición del nivel de los componentes inmunológicos, o anticuerpos, en la sangre, y su capacidad de combatir antígenos.
										</p>
										
									</div>
								</div>
							</div>
							<div class="columna columna-33 columna-mobile-100">
										<div class="bloque-servicio">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/foto3.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>Microbiología</h3>
										<p>
											Detectan diferentes microorganismos en la sangre (bacterias, hongos microscópicos, virus), así como los anticuerpos que se forman contra ellos.
										</p>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="servicios" class="seccion">
					<div class="container">
						<div class="row">
							<div class="columna columna-33 columna-mobile-100">
								<div class="bloque-servicio">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/laboratorios.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>Uroanálisis</h3>
										<p>
											Pruebas de orina desde el punto de vista físico, químico y microscópico, que permiten obtener una idea general del estado de salud general
										</p>
										
									</div>
								</div>
							</div>
							<div class="columna columna-33 columna-mobile-100">
										<div class="bloque-servicio ">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/foto4.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>Parasitología</h3>
										<p>
											Estudios a partir de diferentes tipos de muestras para la búsqueda e identificación de parásitos dentro de nuestro organismo.
										</p>
										
									</div>
								</div>
							</div>
							<div class="columna columna-33 columna-mobile-100">
										<div class="bloque-servicio">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/foto3.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>¡Te esperamos!</h3>
										<p>
											Acércate a tu Prueba_lab  más cercano te atenderemos con gusto.
										</p>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="contactenos" class="seccion">
					<iframe width="520" height="400" frameborder="0" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20Quito+(Quito)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> 
					<div class="container">
						<div class="row">
							 <div class="columna columna-41 columna-mobile-100 empujar-58 empujar-mobile-0 sinpadding-mobile">
							 	<form action="/envia_mail" method="post">
							 		<div class="from-block">
							 			<input type="text" name="nombre" class="from-control" placeholder="Nombre">
							 			
							 		</div>
							 		<div class="from-block">
							 			<input type="email" name="email" class="from-control" placeholder="Email">
							 			
							 		</div>
							 		<div class="from-block">
							 			<textarea name="mensaje" placeholder="Mensaje"></textarea>
							 		</div>
							 		<div class="from-block bloque-ultimo">
							 			<input type="submit" class="boton boton-negro" value="Enviar">
							 		</div>
							 	</form>
							 </div>
						</div>
					</div>
					
				</section>
			</main>
{% endblock %}