{% extends "layout.html"%}
{% block content %}
			
			<main>
				<div id="slide-wrap">
					<section id="inicio">
						<img src="/static/img/foto13.jpg" alt="foto1">
					</section>
				  </div>
				</section>
				
				<section id="servicios" class="seccion">
					<div class="container">
						<div class="row">
							<div class="columna columna-33 columna-mobile-100">
								<div class="bloque-servicio">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/laboratorios.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>Medicina Ocupacional</h3>
										<p>
											El Departamento de Medicina Ocupacional cuida la salud de los trabajadores de su empresa. Ofrecemos asesoramiento integral sobre Salud Laboral. Factores que colaboran para la productividad del recurso humano de la empresa.
                                            Nuestro plan de medicina ocupacional consiste en brindar asistencia médica personalizada con un equipo multidisciplinario de profesionales de la salud altamente capacitados y con total experiencia en salud preventiva y laboral.
                                            Nuestros servicios tienen cobertura en todo el Ecuador, atendemos en nuestras instalaciones como también en las diferentes empresas a nivel nacional, para lo cual ofrecemos varias unidades móviles, con consultorios equipados de tecnología de punta, como son: Rayos X digital, oftalmología, otorrinolaringología, neumología/espirometría, cardiología/EKG y control médico ocupacional.
										</p>
										
									</div>
								</div>
							</div>
							<div class="columna columna-33 columna-mobile-100">
										<div class="bloque-servicio ">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/foto4.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>Valores Agregados</h3>
										<p>
											Nuestras empresas afiliadas gozan de beneficio sin costo de Conferencias medicas sobre los temas requeridos por el Ministerio de Relaciones Laborales. Conferencias que son impartidas por profesionales medicos de especialidad. Descuentos a trabajadores y su nucleo familiar en examnes de laboratoio , imagen Diagnostica y consulta medica por especialidad.
										</p>
										
									</div>
								</div>
							</div>
							<div class="columna columna-33 columna-mobile-100">
										<div class="bloque-servicio">
									<div class="bloque-img-servcio cuadrado-perfecto">
										<img src="/static/img/foto3.jpg">
									</div>
									<div class="bloque-contenido-servicio">
										<h3>Consultorios de Especialidades</h3>
										<p>
											Contamos con consultorios médicos equipados y con doctores especializados en cada área
										</p>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				
				<section id="contactenos" class="seccion">
					<iframe width="520" height="400" frameborder="0" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20Quito+(Quito)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> 
					<div class="container">
						<div class="row">
							 <div class="columna columna-41 columna-mobile-100 empujar-58 empujar-mobile-0 sinpadding-mobile">
							 	<form action="/envia_mail" method="post">
							 		<div class="from-block">
							 			<input type="text" name="nombre" class="from-control" placeholder="Nombre">
							 			
							 		</div>
							 		<div class="from-block">
							 			<input type="email" name="email" class="from-control" placeholder="Email">
							 			
							 		</div>
							 		<div class="from-block">
							 			<textarea name="mensaje" placeholder="Mensaje"></textarea>
							 		</div>
							 		<div class="from-block bloque-ultimo">
							 			<input type="submit" class="boton boton-negro" value="Enviar">
							 		</div>
							 	</form>
							 </div>
						</div>
					</div>
					
				</section>
			</main>
{% endblock %}